@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight');


*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}
html, body{
    /* width: 100%; */
    height: 100%;
}

body{
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    background-size: cover;
    background-attachment: fixed;
}


.wrapper{
    display: flex;
    position: relative;
    height: 100%;
    justify-content: space-between;
}
.wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #3376A7;
    padding: 30px 0;
}

.wrapper .sidebar img{
    margin-bottom: 10px;
    padding: 10px;
}

.wrapper .sidebar ul li{
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px;
}

.wrapper .sidebar  ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
}

.wrapper .sidebar ul li:hover{
    background: white;
}

.wrapper .sidebar ul li:hover a{
    color: black;
}

.wrapper .login-box{
    padding-top: 2%;
    border-radius: 25px;
    width: 38rem;
    height: 38rem;
    margin: auto;
    margin-top: 10%;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    color: white;
    text-align: center;
    box-shadow: 2px 3px black;
}

.wrapper .login-box h1{
    color:#ffffff;
    padding-top: 10%;
    padding-bottom: 50px;
}

.wrapper .login-box .text-field{
    border-radius: 40px;
    width: 480px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}

.wrapper .login-box .text-field::placeholder{
    position: absolute;
    padding-top: 12.5px;
}

.wrapper .login-box .action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-color: white;
    border-radius: 40px;
    width: 160px;
    height: 45px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
}


/*Responsive Navbar*/
@media (max-width: 400px){
    .wrapper{
        display: flex;
        position: relative;
    }
    .wrapper .sidebar{
        width: 100%;
        height: 100%
    }    

    .wrapper .sidebar img{
        display: block;
        margin: auto;
    }

    .wrapper .sidebar ul li{
        text-align: center;
    }
}

.sidebar{
    flex: 0 0 200px;
}

.content-area{
    flex:1;
    height: 100%;

}


.image-container{
    /* display: inline-block; */
    position: relative;
    width: 100%;
    /* margin-top: 2.85%; */
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1);
}

.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.60);
    overflow:hidden;
    width:100%;
    height:0;
    transition: .5s ease;
    text-align: center;
    padding: 0%;

}

.image-container:hover .overlay{
    height: 400px;
    color:white;
    width:100%;
    position: absolute;

}
.image{
   /* display: block; */
   width: 100%;
   height: 400px;
}

.item-num{
    font-family: 'Roboto';
    font-size: 23px;
}

.item-description{
    font-family: 'Roboto';
    font-size: 20px;
}
.items{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5%;
    margin: 2%;
}

.archive-header{
    display: flex;
    margin: auto;
    margin-top: 2.5%;
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    border-radius: 40px;
    width: 900px;
    height: 60px;
}

.archive-header input{
    flex: 5;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 200px;
    height: 30px;
    border-radius: 40px;
    padding-left: 7px;

}

input{
    font-family: Roboto, FontAwesome;
}

.archive-header .edit, .add, .remove{
    flex: 1;
    border-radius: 40px;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
    width: 70px;
    height: 30px;
}

.popup-upload{
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: black;
    background-color: rgba(0,0,0,0.4);

}

.wrapper .login-box{
    padding-top: 2%;
    border-radius: 25px;
    width: 38rem;
    height: 38rem;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    color: white;
    opacity: 1;
    text-align: center;
}

.wrapper .login-box h1{
    color:#ffffff;
    padding-top: 10%;
    padding-bottom: 50px;
}

.wrapper .login-box .text-field{
    border-radius: 40px;
    width: 480px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}


.wrapper .login-box .text-field::placeholder{
    position: absolute;
    padding-top: 12.5px;
}

.wrapper .login-box .action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-color: white;
    border-radius: 40px;
    width: 160px;
    height: 45px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
}
