@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight');


*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

body{
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    background-size: cover;
    background-attachment: fixed;
}

.dis-block{
  
    font-size: 32px;
    font-weight: bolder;
    border-radius: 8px; 
    align-items: center;
    justify-content: center;

}

.option-box{
    margin-bottom: 20px;
    padding: 20px;
}

.option-logo {
    height: 246px;
    width: 265px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
}

.option-logo a{
    color: black;
    position: absolute;
}

.option-logo a i{
    font-size: 10em;
}

#edit{
    font-size: 12em;
}

.option-box { 
    display: inline-block;
    width: 780px;
    height: 480px;
    border-radius: 8px;
    /* position: relative; */
    overflow: hidden;
    margin-left: 20.5%;
    margin-right: 3%;
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    box-shadow: 2px 3px black;
   
}

#archive{
    margin-left: 37.15%;
}

.dis-block p{
    margin-left: 5.7em;
    margin-top: -2.9em;
    position: absolute;
    color: white;
    font-size: 5.3em;
}

#transcript{
    margin-left: 5.3em;
    margin-top: -2.8em;
}

#payment{
    margin-left: 5.7em;
    margin-top: -2.8em;
}


#second{
    margin-left: 10px;
}

.dis-block .action-confirm{
    left: 350px;
}

.action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-radius: 40px;
    border-color: white;
    width: 130px;
    height: 40px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
}

.wrapper{
    display: flex;
    position: relative;
    
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #3376A7;
    padding: 30px 0;
}

.wrapper .sidebar img{
    margin-bottom: 10px;
    padding: 10px;
}

.wrapper .sidebar ul li{
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px;
}

.wrapper .sidebar  ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
}

.wrapper .sidebar ul li:hover{
    background: white;
}

.wrapper .sidebar ul li:hover a{
    color: black;
}

.wrapper .login-box{
    padding-top: 2%;
    border-radius: 25px;
    width: 38rem;
    height: 38rem;
    margin: auto;
    margin-top: 10%;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    color: white;
    text-align: center;
    box-shadow: 2px 3px black;
}

.wrapper .login-box h1{
    color:#ffffff;
    padding-top: 10%;
    padding-bottom: 50px;
}

.wrapper .login-box .text-field{
    border-radius: 40px;
    width: 480px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}


.wrapper .login-box .text-field::placeholder{
    position: absolute;
    padding-top: 12.5px;
}

.wrapper .login-box .action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-color: white;
    border-radius: 40px;
    width: 160px;
    height: 45px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.text-10{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

#extras{
    text-align: left;
}

.text-10 a{
    text-decoration: none;
    color: #72EDF2;
}


.h2-10{
    margin-bottom: 60px;
    text-align: center;
}


/*Responsive Navbar*/
@media (max-width: 400px){
    .wrapper{
        display: flex;
        position: relative;
    }
    .wrapper .sidebar{
        width: 100%;
        height: 100%
    }    

    .wrapper .sidebar img{
        display: block;
        margin: auto;
    }

    .wrapper .sidebar ul li{
        text-align: center;
    }
}

.sidebar{
    flex: 0 0 200px;
}

.wrapper .content-area{
    width: 100%;
    margin-left: 200px;
}
.description{
    margin: 30px;
}

.contact-box{
    display: block;

    width: 1000px;
    height: auto;
    background-image: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(104,98,247,1) 100%);
    border-radius: 25px;
    margin: auto;
    margin-top: 10%;

}

.contact-box .text-20{
    font-size: 20px;
    padding: 20px;
}

.contact-box .location-picture{
    padding: 20px;
}

.contact-box .socials-box{
    padding: 20px;
    font-size: 19px;
}

.warehouse{
    width: 950px;
}

.suggestion-box{
    margin: auto;
    background-image: linear-gradient(90deg, rgba(94,133,252,1) 0%, rgba(104,98,247,1) 100%);
    border-radius: 25px;
    margin-top: 30px;
    width: 1000px;
    height: auto;
    padding: 10px;

}

.suggestion-box .sug-block{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#suggestion-box{
    resize: none;
    width: 900px;
    height: 300px;
}

#submit{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-color: white;
    background-color: black;
    color: white;
    font-weight: bold;
}