@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight');


*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

body{
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    background-size: cover;
    background-attachment: fixed;
}

.dis-block{
  
    font-size: 32px;
    font-weight: bolder;
    border-radius: 8px; 
    align-items: center;
    justify-content: center;

}


/* .option-logo {
    height: 136px;
    width: 145px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.option-box { 
    display: inline-block;
    width: 780px;
    height: 480px;
    border-radius: 8px;
    /* position: relative; */
    overflow: hidden;
    margin-left: 19.5%;
    margin-right: 3%;
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    box-shadow: 2px 3px black;
   
}

.dis-block p{
    position: absolute;
    color: white;
    font-size: 60px;
}

.dis-block i{
    position: relative;
    font-size: 35em;
    opacity: 0.2;
    /* background-color: red; */
}

#edit{
    margin-left: 15px;
}

.edit-archive{
    margin-left: 10px;
}

.archive-list{
    margin-left: 10px;
}

.dis-block .action-confirm{
    left: 350px;
}

.option-button{
    background-color: var(--primary-color, #23A6F0);
    border-radius: 40px;
    border-color: white;
    width: 130px;
    height: 40px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
}

/* .background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.background-container::after {
    content: "";
    background-image: url("./warehouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(120%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} */

.wrapper{
    display: flex;
    position: relative;
    
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #3376A7;
    padding: 30px 0;
}

.wrapper .sidebar img{
    margin-bottom: 10px;
    padding: 10px;
}

.wrapper .sidebar ul li{
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px;
}

.wrapper .sidebar  ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
}

.wrapper .sidebar ul li:hover{
    background: white;
}

.wrapper .sidebar ul li:hover a{
    color: black;
}

.wrapper .login-box{
    padding-top: 2%;
    border-radius: 25px;
    width: 38rem;
    height: 38rem;
    margin-top: 12.4%;
    margin-left: 42.7%;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    color: white;
    text-align: center;
    box-shadow: 2px 3px black;
}

.wrapper .login-box h1{
    color:#ffffff;
    padding-top: 10%;
    padding-bottom: 50px;
}

.wrapper .login-box .text-field{
    border-radius: 40px;
    width: 480px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}


.wrapper .login-box .text-field::placeholder{
    position: absolute;
    padding-top: 7px;
}

.wrapper .login-box .action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-color: white;
    border-radius: 40px;
    width: 160px;
    height: 45px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.text-10{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

#extras{
    text-align: left;
}

.text-10 a{
    text-decoration: none;
    color: #72EDF2;
}


/*Responsive Navbar*/
@media (max-width: 400px){
    .wrapper{
        display: flex;
        position: relative;
    }
    .wrapper .sidebar{
        width: 100%;
        height: 100%
    }    

    .wrapper .sidebar img{
        display: block;
        margin: auto;
    }

    .wrapper .sidebar ul li{
        text-align: center;
    }
}

.wrapper{
    display: flex;
    height: 100vh;
}
.sidebar{
    flex: 0 0 200px;
}
.content-area{
    flex: 1;
    height: 100%;
}

.controls{
    margin-top: 2%;
    font-size: 24px;
    font-family:Roboto, FontAwesome;
}
.search{
    display:inline-block;
    margin-left: 20%;
    padding-left: 20px;
    width: 533px;
    height: 55px;
    border-radius: 40px;
 


}
.search::placeholder{
   
    font-family:Roboto, FontAwesome;
    
}

.results-area{
    margin-left: 20%;
    width: 1053px;
    height: 728px;
    display: inline-block;
    background-color: #bbb;
}
