@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Acme|Alegreya|Alegreya+Sans|Anton|Archivo|Archivo+Black|Archivo+Narrow|Arimo|Arvo|Asap|Asap+Condensed|Bitter|Bowlby+One+SC|Bree+Serif|Cabin|Cairo|Catamaran|Crete+Round|Crimson+Text|Cuprum|Dancing+Script|Dosis|Droid+Sans|Droid+Serif|EB+Garamond|Exo|Exo+2|Faustina|Fira+Sans|Fjalla+One|Francois+One|Gloria+Hallelujah|Hind|Inconsolata|Indie+Flower|Josefin+Sans|Julee|Karla|Lato|Libre+Baskerville|Libre+Franklin|Lobster|Lora|Mada|Manuale|Maven+Pro|Merriweather|Merriweather+Sans|Montserrat|Montserrat+Subrayada|Mukta+Vaani|Muli|Noto+Sans|Noto+Serif|Nunito|Open+Sans|Open+Sans+Condensed:300|Oswald|Oxygen|PT+Sans|PT+Sans+Caption|PT+Sans+Narrow|PT+Serif|Pacifico|Passion+One|Pathway+Gothic+One|Play|Playfair+Display|Poppins|Questrial|Quicksand|Raleway|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ropa+Sans|Rubik|Saira|Saira+Condensed|Saira+Extra+Condensed|Saira+Semi+Condensed|Sedgwick+Ave|Sedgwick+Ave+Display|Shadows+Into+Light|Signika|Slabo+27px|Source+Code+Pro|Source+Sans+Pro|Spectral|Titillium+Web|Ubuntu|Ubuntu+Condensed|Varela+Round|Vollkorn|Work+Sans|Yanone+Kaffeesatz|Zilla+Slab|Zilla+Slab+Highlight');


*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

input{
    font-family: Roboto, FontAwesome;
}

body{
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    background-size: cover;
    background-attachment: fixed;
}

.dis-block{
    /* font-size: 32px; */
    /* font-weight: bolder; */
    /* border-radius: 8px;  */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;

}


.option-logo {
    height: 165px;
    width: 165px;
    background-color: #bbb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.option-logo a{
    color: black;
    position: absolute;
}

.option-logo a i{
    font-size: 7em;
}

#edit{
    font-size: 8em;
}

#qrcode{
    font-size: 8.5em;
    margin-top: 10.5%;
}

.option-box { 
    /* display: inline-block; */
    width: 480px;
    height: 250px;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 3.5%;
    margin-right: 3.5%;
    margin-top: 3.3%;
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    box-shadow: 2px 3px black;
}

/* #left{
    margin-left: 18.5%;
} */

.dis-block p{
    margin-left: 5.4em;
    margin-top: -2.9em;
    position: absolute;
    color: white;
    font-size: 3.4em;
}

#qrword{
    margin-left: 5em;
    margin-top: -2.9em;
}

#transcript{
    margin-left: 4.85em;
    margin-top: -2.85em;
}

#payment{
    margin-left: 4.6em;
    margin-top: -2.925em;
}


.dis-block .action-confirm{
    left: 350px;
}

.action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-radius: 40px;
    border-color: white;
    width: 130px;
    height: 40px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
    position: relative;
}

.wrapper{
    display: flex;
    position: relative;
    
}
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #3376A7;
    padding: 30px 0;
}

.wrapper .sidebar img{
    margin-bottom: 10px;
    padding: 10px;
}

.wrapper .sidebar ul li{
    list-style-type: none;
    padding: 15px;
    border-bottom: 1px;
}

.wrapper .sidebar  ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
}

.wrapper .sidebar ul li:hover{
    background: white;
}

.wrapper .sidebar ul li:hover a{
    color: black;
}

.wrapper .login-box{
    padding-top: 2%;
    border-radius: 25px;
    width: 38rem;
    height: 38rem;
    margin: auto;
    margin-top: 10%;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    color: white;
    text-align: center;
    box-shadow: 2px 3px black;
}

.wrapper .login-box h1{
    color:#ffffff;
    padding-top: 10%;
    padding-bottom: 50px;
}

.wrapper .login-box .text-field{
    border-radius: 40px;
    width: 480px;
    height: 50px;
    padding-left: 10px;
    margin-bottom: 30px;
    font-size: 17px;
}


.wrapper .login-box .text-field::placeholder{
    position: absolute;
    padding-top: 12.5px;
}

.wrapper .login-box .action-confirm{
    background-color: var(--primary-color, #23A6F0);
    border-color: white;
    border-radius: 40px;
    width: 160px;
    height: 45px;
    margin-bottom: 5%;
    text-align: center;
    font-family: "Work Sans";
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.text-10{
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

#extras{
    text-align: left;
}

.text-10 a{
    text-decoration: none;
    color: #72EDF2;
}


.h2-10{
    margin-bottom: 60px;
    text-align: center;
}


/*Responsive Navbar*/
@media (max-width: 400px){
    .wrapper{
        display: flex;
        position: relative;
    }
    .wrapper .sidebar{
        width: 100%;
        height: 100%
    }    

    .wrapper .sidebar img{
        display: block;
        margin: auto;
    }

    .wrapper .sidebar ul li{
        text-align: center;
    }
}

.sidebar{
    flex: 0 0 200px;
}

.wrapper .content-area{
    width: 100%;
    margin-left: 200px;
}
.description{
    margin: 30px;
}

.contact-box{
    display: block;

    width: 1000px;
    height: auto;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    border-radius: 25px;
    margin: auto;
    margin-top: 2%;
    box-shadow: 2px 3px black;
}

.contact-box .text-20{
    font-size: 20px;
    padding: 20px;
}

.contact-box .location-picture{
    padding: 20px;
}

.contact-box .socials-box{
    padding: 20px;
    font-size: 19px;
}

.warehouse{
    width: 950px;
}

.suggestion-box{
    margin: auto;
    background: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    border-radius: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1000px;
    height: auto;
    padding: 15px;
    box-shadow: 2px 3px black;
}

.suggestion-box .sug-block{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#suggestion-box{
    resize: none;
    width: 900px;
    height: 300px;
}

#submit{
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border-color: white;
    background-color: black;
    color: white;
    font-weight: bold;
}



.image-container{
    display: inline-block;
    position: relative;
    width:300px;
    margin-top: 2.85%;
    margin-left: 20%;
    transition: transform 0.3s ease-in-out;
}

.image-container:hover {
    transform: scale(1.2);
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(0,0,0,0.60);
    overflow:hidden;
    width:100%;
    height:0;
    transition: .5s ease;
    text-align: center;
}

.image-container:hover .overlay{
    height: 50%;
    color:white;
    width:100%;
    position: absolute;
  
}
.image{
   display: block;
   width: 100%;
   height:50%;
}
h1.item-num{
    margin-top: 10%;
    font-size: 2vw;

}
h2.item-description{
    margin-top: 10%;
}


#popup {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: black;
    background-color: rgba(0,0,0,0.4); 
  }

.bg .popupimg {
    margin-left: 44.5%;
    margin-top: 14.8%;
    width: 0px;
    height: 0px;
}

.bg .popupimg img{
    height: 400px;
    width: 400px;
    animation: animatezoom 0.6s
}

@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

#vanish{
    visibility: hidden;
    position: fixed; 
    z-index: 1;  
}

.daysremaining{
    border-radius: 25px;
    width: 17rem;
    height: 4rem;
    margin-top: 2em;
    margin-left: 56.3em;
    background-color: var(--primary-color, #23A6F0);
    text-align: center;
    border-color: white;
    border-style: solid;
}

#vanish.show{
    visibility: visible;
    animation: fadein 2.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}


.about-container{
    display: block;
    margin-left: 200px;
    width: 100%;
    height: 100%;
}

 .about-container .about-header{
    margin: auto;
    margin-top: 5%;
    width: 300px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
    background-image:  linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    border-radius: 50px;
    border-color: black;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-container .about-desc{
    margin: auto;
    margin-top: 5%;
    background-image: linear-gradient(135deg, #72EDF2 0%, #6b6ba2 100%);
    width: 600px;
    height: auto;
    border-radius: 25px;
    padding: 5%;
    box-shadow: 2px 3px black;

}

.about-container .about-desc p{
    font-size: 25px;
    text-align: center;
}